body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contenedor-imagen {
    height: 100%; 
    width: 100%; 
    position: relative; 
}

.imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.logo {
    background: linear-gradient(to left, rgb(231, 165, 231), rgb(172, 147, 168), rgb(92, 60, 95), rgb(226, 226, 226));
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
    font-size: 25px;
    font-weight: 50px;
}
/* animacion del logo*/
@keyframes animated {
    to { background-position-x: 161px; }
}

#formularioInicioSesión {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px;
    background: rgba(226, 226, 226, 0.438);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    height: auto;
    width: 300px;
    color: #fff;
}

#formularioInicioSesión h2 {
    margin-bottom: 20px;
}

#formularioInicioSesión .form-group {
    margin-bottom: 20px;
}

#formularioInicioSesión label {
    display: block;
    font-weight: bold;
}

#formularioInicioSesión input[type="text"],
#formularioInicioSesión input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formularioInicioSesión button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#formularioInicioSesión button:hover {
    background-color: #45a049;
}

#formularioInicioSesión a {
    color: #fff;
    text-decoration: none;
}

#formularioInicioSesión a:hover {
    text-decoration: underline;
}

.Menu {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    color: #f7f7f7;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-left: 10px; 
}

.nav-menu li a {
    color: #dfe8f8;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 12px; 
}

